/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

/*****************navigation ********************/

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #33414e;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #33414e;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}



/**********************************************************/

.content-section {
  padding-top: 50px;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: black 0 1px 0;
  /* text-shadow: black 3px 1px 3px;*/
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4em;
  font-weight: 300;
}

.long-word {
  white-space: nowrap;
}

.list-inline > li {
  vertical-align: middle;
}

.vert-text .list-inline a {
  color: white;
}

.resume {
  margin: 0px 0px 20px 0px;
  font-size: 1.5em;
  text-decoration: none;
}

/* btn-circle */

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  transition-property: -webkit-transform;
  transition-duration: 1s;
  transition-property: -moz-transform;
  transition-duration: 1s;
}
.btn-circle:hover i.animated {
  animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/***********************/

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  /*background: url(../img/bg.jpg) no-repeat center center fixed; */
  background-color: #33414e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header-social-buttons {
  color: #fff;
  text-transform: uppercase;
  margin: 35px;
}

.header-social-buttons > li > a{
  text-decoration: none;
  font-weight: 600;
  border: 1px solid #fff;
  padding: 0.5em 1.5em;
}

.header-social-buttons > li > a:hover {
  color:#33414e;
  background-color: #fff;
}

.header-social-buttons > li > a:focus {
  outline: none;
}


/***********************/

.even {
  background-color: #fff;
}

.odd {
  background-color: #f2f2f2;
}


/*-- skills --*/

.skills-bar .bar_group__bar.thin::before, .skills-bar .bar_group__bar.thick::before {
  display: block;
  content: '';
  position: absolute;
  z-index: -1;
}

.skills-bar .bar_group__bar.thin::before {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #E4E4E4;
}

.skills-bar .bar_group__bar.thin {
  width: 0%;
  height: 4px;
  border-radius: 2px;
  background: red;
  margin-bottom: 10px;
  -webkit-transition: width 1s;
          transition: width 1s;
}
.skills-bar .b_label, .skills-bar .bar_label_min, .skills-bar .bar_label_max, .skills-bar .b_tooltip span {
    color: #2f2f2f;
    font-size: .9em;
	font-weight:600;
}
.skills-bar .bar_label_max {
    position: absolute;
    right: 0;
    margin: 1em 0 0 0;
}
.skills-bar .bar_label_min {
    position: absolute;
    left: 0;
    margin: 1em 0 0 0;
}
.skills-bar .b_tooltip {
  -webkit-transition: all 1s;
          transition: all 1s;
  position: relative;
  float: left;
  left: 100%;
  padding: 4px 10px 7px 10px;
  background-color: rgba(67, 66, 76, 0.81);
  -webkit-transform: translateX(-50%) translateY(-30px);
  -ms-transform: translateX(-50%) translateY(-30px);
  transform: translateX(-50%) translateY(-30px);
  border-radius: 2px;
  line-height: 11px;
}
.skills-bar .b_tooltip span {
  color: white;
}
.skills-bar .b_tooltip--tri {
  width: 0;
  height: 0;
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: rgba(67, 66, 76, 0.81) transparent transparent transparent;
}
.skills-bar .bar_group__bar:nth-of-type(1) {
    background: #00b6e3;/*#ff9800*/
    z-index: 9990 !important;
}
.skills-bar .bar_group__bar:nth-of-type(2) {
  background: #00b6e3;
}
.skills-bar .bar_group__bar:nth-of-type(3) {
  background: #00b6e3;
}
.skills-bar .bar_group__bar:nth-of-type(4) {
  background: #00b6e3;
}
.skills-bar .bar_group__bar:nth-of-type(5) {
  background: #00b6e3;
}
.bar_group {
  position: relative;
}
/*-- //skills --*/

/****** skills ******/
.circular-progress {
  height: 200px;
  }
  
.circular-progress > svg {
  height: 100%;
  display: block;
  }

  #skill-bar {
  margin: 20px;
  width: 400px;
  height: 8px;
}

/******* //skills *************/

/********* projects **********/






/******** //projects ********/


/*********** blog **********/

.post-date {
  color: #ffab0a;
  text-transform: uppercase;
}

button.more {
  float: right;
}

a.btn-more {
  border: 2px solid #384c54;
  color: #384c54;
  padding: 0.5em 1em;
  margin-top: 5em;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

a.btn-more:hover {
  color: #fff;
  background-color: #384c54;
}

.card {
  position: relative;
  display: block;
  margin-bottom: 0.75rem;
  background-color: #fff;
  border-radius: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.card-block {
  padding: 1.25rem;
}

.card-block::after {
  content: "";
  display: table;
  clear: both;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-subtitle {
  margin-top: -0.375rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  width: 100%;
}

/********** //blog **********/


/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

.pixelMe {
  visibility: hidden;
  height: 218px;
  width: 128px;
  margin: 0 auto;
  background: url(../img/pixelme.png);
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}




/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 5px 0;
}

.call-to-action .btn {
  margin: 10px;
}

.call-to {
  text-shadow: none;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
    background-color: #33414e;
  }

  .map {
	height: 75%;
  }

  .resume.space-m {
    margin: 35px;
  }

  .call-to {
    margin-bottom: 35px;
  }
}

.spaced {
  margin:35px;
}

.block {
  display:block;
}

.size-m {
  font-size: 1.5em
}

.shy-a, .shy-a:hover {
  color:inherit;
}

.shy-a h1 {
  background: #0a5175;
}
