/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

/*****************navigation ********************/

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #383838;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: #333333;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

/**********************************************************/

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
  text-shadow: black 3px 1px 3px;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4em;
  font-weight: 300;
}

.long-word {
  white-space: nowrap;
}

.list-inline > li {
  vertical-align: middle;
}

.vert-text .list-inline a {
  color: white;
}

.resume {
  margin: 0px 0px 20px 0px;
  font-size: 1.5em;
  text-decoration: none;
}

/* btn-circle */

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  transition-property: -webkit-transform;
  transition-duration: 1s;
  transition-property: -moz-transform;
  transition-duration: 1s;
}
.btn-circle:hover i.animated {
  animation-name: pulse;
  animation-name: pulse;
  animation-duration: 1.5s;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
/***********************/

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/***********************/
/* Intro */

.intro {
  padding: 50px 0;
}

/* Services */

.services {
  background: #7fbbda;
  padding: 50px 0;
  color: #ffffff;
}

.service-item {
  margin-bottom: 15px;
}

.pixelMe {
  visibility: hidden;
  height: 218px;
  width: 128px;
  margin: 0 auto;
  background: url(../img/pixelme.png);
}

i.service-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

/* Callout */

.callout {
  color: #ffffff;
  display: table;
  height: 400px;
  width: 100%;
  background: url(../img/callout.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Portfolio */

#portfolio .row {
  max-width: 900px;
  margin:0 auto;
}


#portfolio .caption {
  width: 250px;
  margin: 10px auto;
  background-color: rgba(69, 173, 255, 0.45);
  border-radius: 14px;
  color: white;
}

#portfolio .thumbnail {
  text-align: center;
  background-color: transparent;
  border: 0;
}

#portfolio .thumbnail img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
}

/*.caption {
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:25%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
}*/

.caption h4 {
  margin: 0 auto;
}

.caption a {
  color: #DCE9F5;
  text-decoration: underline;
}

/* Call to Action */

.call-to-action {
  color: #ffffff;
  background: #0a5175;
  padding: 5px 0;
}

.call-to-action .btn {
  margin: 10px;
}

.call-to {
  text-shadow: none;
}

/* Map */

.map {
  height: 500px;
}

/* Footer */

.top-scroll {
  margin-top: 50px;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
}

i.scroll {
  color: #333333;
}

i.scroll:hover {
  color: #0a5175;
}
/* Responsive */

@media (max-width: 768px) {
	
  .header {
	background: url(../img/bg.jpg) no-repeat center center scroll; 
  }

  .callout {
	background: url(../img/callout.jpg) no-repeat center center scroll; 
  }

  .map {
	height: 75%;
  }

  .resume.space-m {
    margin: 35px;
  }

  .call-to {
    margin-bottom: 35px;
  }
}

.spaced {
  margin:35px;
}

.block {
  display:block;
}

.size-m {
  font-size: 1.5em
}

.shy-a, .shy-a:hover {
  color:inherit;
}

.shy-a h1 {
  background: #0a5175;
}
